:root {
    --main-cl: #323334;
    --bg-cl-1: rgba(219, 208, 204, 0.8);
    --bg-cl-2: #EAE9E7;
    --bg-cl-3: rgba(0, 0, 0, 0.4);
    --bg-cl-4: #FAFAFA;
    --text-cl-1: #A86A3D;
    --text-cl-2: rgba(0, 0, 0, 0.5);
    --boder-bottom: 1px var(--main-cl) solid;
    --rating-star: #F2C94C;
    --star: rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Roboto', 'Sand-serif';
    font-weight: 700;
}

.container {
    width: 1296px;
    height: 100%;
    margin: 0 auto;
}

.header {
    /* position: sticky;
    -webkit-mask-position: sticky; */
    top: 0;
    background-color: #FAFAFA;
    z-index: 2;
}
@media screen and (max-width: 989px) {
    .header-wrapper {
        grid-template-areas: 'logo'
        'service';
    }
    .header__main-menu {
        display: none;
    }

    .header__icons {
        display: none;
    }
}

.header-wrapper {
    margin-top: 34px;
    display: grid;
    grid-template-areas: 'logo icon'
    'menu menu'
    'service service';
}

.header__logo {
    border-bottom: var(--boder-bottom);
    text-decoration: none ;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    grid-area: logo;
    padding-bottom: 19px;
}

.header__icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 37px;
    padding-bottom: 19px;
    border-bottom: var(--boder-bottom);
    grid-area: icon;
}

.cart {
    position: relative;
}

.cart:before {
    content: "3";
    background-color: #F2994A;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
    font-size: 50%;
    color: #FAFAFA;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.header__main-menu {
    display: flex;
    justify-content: center;
    gap: 69px;
    align-items: center;
    padding: 39px;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: var(--boder-bottom);
    flex-wrap: wrap;
    grid-area: menu;
}

.header__main-menu>input[type='radio']:checked + label,
.header__main-menu>input[type='radio']:hover + label {
    color: var(--text-cl-1);
    cursor: pointer;
    text-decoration: underline;
}

.header__service {
    grid-area: service;
}

.header__service > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: var(--text-cl-2);
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__service>ul>li>a>span {
    margin-left: 14px;
}

.hero {
    background-color: var(--bg-cl-1);
    width: 100vw;
    height: 566px;

}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero__image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero__text {
    margin-left: 12px;
    display: block;
}

.hero__text>span {
    font-size: 48px;
    color: var(--text-cl-1);
    display: block;
    margin-top: 25px;
}

.btn {
    min-width: 124px;
    min-height: 48px;
    border: 1px var(--main-cl) solid;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px;
    transition: all ease 0.2s;
    cursor: pointer;
    background-color: transparent;
}

.hero__text .view-now {
    margin-top: 40px;
    margin-left: 13px;
}

.btn:hover {
    background-color: var(--main-cl);
    color: var(--text-cl-1);
    border-color: var(--text-cl-1);
}

.feature-collection {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px;
    margin-top: 23px;
    margin-bottom: 23px;
    height: 368px;
}

.feature-collection .collection-1 {
    background-color: var(--bg-cl-4);
}

.feature-collection .collection-2 {
    background-color: var(--bg-cl-2);
}

.feature-collection>.hero-wrapper>.hero__image>img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.feature-collection>.hero-wrapper {

}

.feature-collection .view-details {
    margin-left: 0;
    margin-top: 40px;
}

/* product */
.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
}

.product-info {
    margin-top: 32px;
    margin-left: 5px;
}

.product__title {
    font-size: 18px;
    text-transform: capitalize;
    display: block;
}

.product__star-rating {
    display: block;
    margin-top: 13px;
    height: 15px;
    width: auto;
}
.product__star-rating>.rate {
    display: flex;
    height: 15px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 4px;
}

.rate:not(:checked) >label,
.rate:not(:checked) >label::before{
    cursor: pointer;
}

.rate>label:before
 {
    content: url(/Assets/rating-star.svg);
}

.rate>label:before

/* 
.rate:not(:checked) ~label:before>svg>path {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    fill: var(--star);
}

.rate > input:checked ~label:before>svg>path {
    fill: var(--rating-star);
} */

.product__price {
    display: block;
    font-size: 24px;
    margin-top: 19px;
}

